{% extends theme('admin/master.html') %}

{% block body %}
    <div class="row">
        <style>
            .post-list {
                display:inline-block;
            }
            .post-list:not(.b) {
                min-width:400px;
            }
            .post-list.b {
                margin-left: -25px;
                margin-right: 15px;
            }
            .admin-list {
                list-style-type: none;
            }
        </style>

        <div class="well col-xs-9">
            {%if config.get('ADMIN_HEADER') %}{{config.get('ADMIN_HEADER')|safe}}{% endif %}
            <h1>{{ admin_view.admin.name }}</h1>
            <h3>{{_gettext('Latest Posts')}}:</h3>
            <ul class="admin-list">
                {% for post in get_contents(model='posts.post', limit=5) %}
                    <li style="margin-bottom: 5px">
                        <div class="post-list b row">
                            <div class="col-xs-1">
                                <i class={% if post.published %} "glyphicon glyphicon-ok-circle" {% else %} "glyphicon glyphicon-ban-circle" {% endif %}></i>
                            </div>
                                                                
                            <div class="col-xs-6">
                                {{ post.channel.title }} | {{ post.title }}
                            </div>                                                                    
                            <div class="col-xs-5">
                                | <a class="btn btn-success btn-sm" href="{{ url_for('post.edit_view', id=post.id)}}">
                                    <i class="glyphicon glyphicon-edit"></i> {{_gettext('Edit')}}</a>
                                    <a class="btn btn-primary btn-sm" target="_blank" href="{{ post.get_absolute_url(endpoint='quokka.core.detail' if post.published else 'quokka.core.preview') }}">
                                    <i class="glyphicon glyphicon-globe"></i> {{_gettext('View') if post.published else _gettext('Preview')}}</a>
                            </div>                                    
                        </div>                            
                    </li>
                {% else %}
                    <li>{{ _gettext("There is no content yet!") }}<br><a class="btn btn-primary" href="{{ url_for('post.create_view') }}"><i class="icon-pencil"></i> {{_gettext('Create a new post')}}</a></li>
                {% endfor %}
            </ul>
            <p>you need to look at <a href="{{ url_for('comment.index_view',flt0_0=0) }}">{{ get_unmoderated_comments()|count }}</a> comments!</p>
        </div>
        
        <div class="col-xs-3">
            <div class=well>
            <h3>{{_gettext('Latest Comments')}}:</h3>
            <ul>
                {% for comment in get_comments(limit=3)  %}
                    <li>
                        {{ comment.author_name }} {{ _gettext('says') }}:
                        <br><small>{{ comment.body[:140] }}</small>
                        <br> <i class={% if comment.published %} "glyphicon glyphicon-ok-circle" {% else %} "glyphicon glyphicon-ban-circle" {% endif %}></i>
                        <a  href="{{ url_for('comment.edit_view', id=comment.id)}}">
                        <i class="glyphicon glyphicon-edit"></i> </a>
                        <a target="_blank" href="{{ comment.get_canonical_url() }}">
                        <i class="glyphicon glyphicon-globe"></i></a>
                    </li>
                {% else %}
                    {{ _gettext("No comments yet!") }}
                    <small>{{ _gettext("Internal comment system is enabled, if you want to change it click in config button and change from 'internal' to 'disqus' in comments configuration and set your disqus_script.") }}</small>
                {% endfor %}
            </ul>
        </div>
    </div>            
</div>

<div class="row">
    {% for endpoint, icon, text in config.get('ADMIN_ICONS', [])%}
        <div class="col-xs-1">
            <a href="{{ url_for(endpoint) }}" class="btn btn-primary btn-lrg">
                <i class="glyphicon glyphicon-{{icon}} icon-white"></i>
                <span><strong>{{_gettext(text)}}</strong></span>
            </a>
        </div>
    {% endfor %}

    </div>

    <div class="row">
    <div class="col-xs-1" style="margin-top: 30px;">
    <form id="swatcher_form" action="{{url_for('quokka.modules.accounts.set_swatch')}}" method="POST">
        <input type="hidden" value="{{csrf_token()}}" name="csrf_token" id="csrf_token" />
        <label>{{_gettext('Theme')}}</label>
        <select id="swatch" name="swatch" onchange="$('#swatcher_form').submit();">
            {% for swatch in (
               'amelia',
               'cerulean',
               'cosmo',
               'cyborg',
               'default',
               'flatly',
               'journal',
               'readable',
               'simplex',
               'slate',
               'spacelab',
               'spruce',
               'superhero',
               'united'
            ) %}
            <option id="{{swatch}}" value="{{swatch}}" {%if swatch == current_user.swatch %}selected{%endif%}>{{swatch}}</option>
            {% endfor %}
        </select>
    </form>
    </div>
    </div>
{% endblock %}

