{% macro build_node(node, style="", allow_hover=True, current_num=False) %}
   {% with has_children = node.get_children(show_in_menu=True).count() %}
    {#{% if current_num %}
        {% set current_num = current_num + 1 %}
    {% else %}
        {% set current_num = 1 %}
    {% endif %}#}
    <li style="{{style}}" class="{%if allow_hover %}allow-hover{%endif%} menu-item {%if request.path.startswith(node.get_absolute_url()) %}active{% endif %} {%if has_children%}menu-has-children{%endif%}">
        {% if has_children %}
            <div class="dropdown btn-group" role="group">
                <button 
                    class="btn btn-default dropdown-toggle" 
                    type="button" 
                    id="dropdownMenu-{{ node.slug }}" 
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false">                    
                        {% if node.link_in_menu %}
                            <a href="{{ node.get_absolute_url() }}">
                        {% endif %}
                            {{node.title}}
                        {% if node.link_in_menu %}
                            </a>
                        {% endif %}                                                         
                        <span class="caret"></span>
                </button>
                {{build_main_nodes(parent=node)}}
            </div>                
        {% else %}                    
            <a 
                href="{% if node.link_in_menu %}{{ node.get_absolute_url() }}{% else %}#{% endif %}" 
                class="menu-link">
                {{node.title}}
            </a>                                        
        {% endif %}
    </li>
    {% endwith %}
{% endmacro %}

{% macro build_main_nodes(parent=None, nodes=None) %}
     {% if not parent and nodes %}
        <ul class="nav nav-justified">
            {% for node in nodes|selectattr("show_in_menu") %}
                {{ build_node(node) }}
            {% endfor %}
        </ul>
     {% elif parent %}
        <ul class="dropdown-menu">
            {% for node in parent.get_children(show_in_menu=True) %}
                {{build_node(node,style="margin-left:%s0px;" % node.get_ancestors_count(), allow_hover=True)}}
            {% endfor %}
        </ul>
     {% endif %}
{% endmacro %}

{% macro render_small_author(author, size=30, multiple=False) %}
    <a target="_blank" href="{{url_for('quokka.modules.authors.author', author_id=author.username)}}">
      {{ author.display_name }}
    </a>
    {% if multiple %}
    ,
    {% endif %}
{% endmacro%}

{% macro build_nodes(nodes)%}
<div class="topbar" {% if Config.get('site', 'add_sidebar_image') %}style="background-image: url('{{Config.get('site', 'sidebar_image', theme_static('img/bg.jpg'))}}')"{% endif %}>
<a href="/" class="back-home"><img class="internal-logo" src="{{ Config.get('site', 'logo_internal', theme_static('img/logo_black.png')) }}" alt="{{Config.get('site', 'site_name')}}"></a>
{% if content %}
     <small>Published in {{ content.created_at.strftime('%H:%M of %m/%d/%Y') }} by
     {% if content.has_multiple_authors %}
      {%for author in content.get_authors()|sort(attribute="display_name")%}
         {{render_small_author(author, size=30 / content.get_authors()|length, multiple=True)}}
      {% endfor %}
     {% else %}
     {{render_small_author(content.created_by)}}
     {%endif%}
     </small>
{% endif %}

</div>
<nav>
   {{build_main_nodes(nodes=nodes)}}
</nav>
{% endmacro %}
